USE [master]
GO
/****** Object:  Database [arriendojuegos]    Script Date: 30-11-2023 14:50:51 ******/
CREATE DATABASE [arriendojuegos]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'arriendojuegos', FILENAME = N'G:\sql\MSSQL12.SQLEXPRESS\MSSQL\DATA\arriendojuegos.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'arriendojuegos_log', FILENAME = N'G:\sql\MSSQL12.SQLEXPRESS\MSSQL\DATA\arriendojuegos_log.ldf' , SIZE = 1344KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [arriendojuegos].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [arriendojuegos]
GO
/****** Object:  UserDefinedFunction [dbo].[SplitString]    Script Date: 30-11-2023 14:50:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE FUNCTION [dbo].[SplitString]
(
    @String NVARCHAR(MAX),
    @Delimiter CHAR(1)
)
RETURNS @Result TABLE (Value NVARCHAR(MAX))
AS
BEGIN
    DECLARE @Pos INT

    WHILE CHARINDEX(@Delimiter, @String) > 0
    BEGIN
        SET @Pos = CHARINDEX(@Delimiter, @String)
        INSERT INTO @Result (Value) VALUES (SUBSTRING(@String, 1, @Pos-1))
        SET @String = SUBSTRING(@String, @Pos+1, LEN(@String)-@Pos)
    END

    INSERT INTO @Result (Value) VALUES (@String)
    RETURN
END

GO
/****** Object:  Table [dbo].[ADMINISTRADOR]    Script Date: 30-11-2023 14:50:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ADMINISTRADOR](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](100) NULL,
	[CORREO] [varchar](200) NULL,
	[CONTRASEÑA] [nvarchar](100) NULL,
	[SALT] [nvarchar](100) NULL,
	[ROL] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [CORREO_FK] UNIQUE NONCLUSTERED 
(
	[CORREO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[CORREO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ALQUILA]    Script Date: 30-11-2023 14:50:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ALQUILA](
	[ID_LIBRO] [int] NOT NULL,
	[ID_PERSONA] [int] NOT NULL,
	[ID_FECHA] [int] NOT NULL,
	[FECHAFIN] [date] NOT NULL,
	[TOTAL] [decimal](10, 2) NOT NULL,
	[COMENTARIO] [varchar](100) NULL,
 CONSTRAINT [FECHA_PERSONA_LIBRO_PK] PRIMARY KEY CLUSTERED 
(
	[ID_PERSONA] ASC,
	[ID_LIBRO] ASC,
	[ID_FECHA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CATEGORIA]    Script Date: 30-11-2023 14:50:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CATEGORIA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](70) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CATEGORIA_LIBRO]    Script Date: 30-11-2023 14:50:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIA_LIBRO](
	[ID_CATEGORIA] [int] NOT NULL,
	[ID_LIBRO] [int] NOT NULL,
 CONSTRAINT [CATEGORIA_LIBRO_PK] PRIMARY KEY CLUSTERED 
(
	[ID_CATEGORIA] ASC,
	[ID_LIBRO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[COMUNA]    Script Date: 30-11-2023 14:50:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[COMUNA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](70) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EDITORIAL]    Script Date: 30-11-2023 14:50:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EDITORIAL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](70) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FECHAALQUILER]    Script Date: 30-11-2023 14:50:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FECHAALQUILER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FECHA] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LIBRO]    Script Date: 30-11-2023 14:50:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LIBRO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ISBN] [varchar](20) NOT NULL,
	[NOMBRE] [varchar](100) NOT NULL,
	[AUTOR] [varchar](100) NOT NULL,
	[TIPOLIBRO] [varchar](100) NOT NULL,
	[PRECIO] [decimal](10, 2) NOT NULL,
	[STOCK] [int] NOT NULL,
	[ANIO] [int] NOT NULL,
	[EDITORIAL] [int] NOT NULL,
	[ID_ADMINISTRADOR] [int] NULL,
	[DESCRIPCION] [varchar](300) NOT NULL,
	[IMAGEN] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [ISBN_UK] UNIQUE NONCLUSTERED 
(
	[ISBN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ISBN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[sexo]    Script Date: 30-11-2023 14:50:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[sexo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[usuarios]    Script Date: 30-11-2023 14:50:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[usuarios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NULL,
	[correo] [varchar](200) NOT NULL,
	[telefono] [int] NULL,
	[sexo] [int] NULL,
	[FECHANACIMIENTO] [date] NOT NULL,
	[COMUNA] [int] NOT NULL,
	[DIRECCION] [varchar](200) NOT NULL,
	[SALT] [nvarchar](200) NOT NULL,
	[CONTRASEÑA] [nvarchar](200) NULL,
	[ROL] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UK_USUARIOS_CORREO] UNIQUE NONCLUSTERED 
(
	[correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[ALQUILA]  WITH CHECK ADD  CONSTRAINT [FECH_FK] FOREIGN KEY([ID_FECHA])
REFERENCES [dbo].[FECHAALQUILER] ([ID])
GO
ALTER TABLE [dbo].[ALQUILA] CHECK CONSTRAINT [FECH_FK]
GO
ALTER TABLE [dbo].[ALQUILA]  WITH CHECK ADD  CONSTRAINT [LIB_FK] FOREIGN KEY([ID_LIBRO])
REFERENCES [dbo].[LIBRO] ([ID])
GO
ALTER TABLE [dbo].[ALQUILA] CHECK CONSTRAINT [LIB_FK]
GO
ALTER TABLE [dbo].[ALQUILA]  WITH CHECK ADD  CONSTRAINT [PERSONA_FK] FOREIGN KEY([ID_PERSONA])
REFERENCES [dbo].[usuarios] ([id])
GO
ALTER TABLE [dbo].[ALQUILA] CHECK CONSTRAINT [PERSONA_FK]
GO
ALTER TABLE [dbo].[CATEGORIA_LIBRO]  WITH CHECK ADD  CONSTRAINT [CATEGORIA_FK] FOREIGN KEY([ID_CATEGORIA])
REFERENCES [dbo].[CATEGORIA] ([ID])
GO
ALTER TABLE [dbo].[CATEGORIA_LIBRO] CHECK CONSTRAINT [CATEGORIA_FK]
GO
ALTER TABLE [dbo].[CATEGORIA_LIBRO]  WITH CHECK ADD  CONSTRAINT [LIBRO_FK] FOREIGN KEY([ID_LIBRO])
REFERENCES [dbo].[LIBRO] ([ID])
GO
ALTER TABLE [dbo].[CATEGORIA_LIBRO] CHECK CONSTRAINT [LIBRO_FK]
GO
ALTER TABLE [dbo].[LIBRO]  WITH CHECK ADD  CONSTRAINT [ADMIN_FK] FOREIGN KEY([ID_ADMINISTRADOR])
REFERENCES [dbo].[ADMINISTRADOR] ([ID])
GO
ALTER TABLE [dbo].[LIBRO] CHECK CONSTRAINT [ADMIN_FK]
GO
ALTER TABLE [dbo].[LIBRO]  WITH CHECK ADD  CONSTRAINT [EDITORIAL_L_FK] FOREIGN KEY([EDITORIAL])
REFERENCES [dbo].[EDITORIAL] ([ID])
GO
ALTER TABLE [dbo].[LIBRO] CHECK CONSTRAINT [EDITORIAL_L_FK]
GO
ALTER TABLE [dbo].[usuarios]  WITH CHECK ADD  CONSTRAINT [COMUNA_FK] FOREIGN KEY([COMUNA])
REFERENCES [dbo].[COMUNA] ([ID])
GO
ALTER TABLE [dbo].[usuarios] CHECK CONSTRAINT [COMUNA_FK]
GO
ALTER TABLE [dbo].[usuarios]  WITH CHECK ADD  CONSTRAINT [sexo_fk] FOREIGN KEY([sexo])
REFERENCES [dbo].[sexo] ([ID])
GO
ALTER TABLE [dbo].[usuarios] CHECK CONSTRAINT [sexo_fk]
GO
/****** Object:  StoredProcedure [dbo].[ACTUALIZARLIBRO]    Script Date: 30-11-2023 14:50:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[ACTUALIZARLIBRO]
    @ISBN VARCHAR(20) = NULL,
    @NOMBRE VARCHAR(200) = NULL,
    @AUTOR VARCHAR(100) = NULL,  
    @TIPOLIBRO VARCHAR(30) = NULL,
    @PRECIO DECIMAL(10,2) = NULL,
    @STOCK INT = NULL,
    @ANIO INT = NULL,
    @EDITORIAL INT = NULL,
    @ID_ADMINISTRADOR INT = NULL,
    @DESCRIPCION VARCHAR(300) = NULL,
    @IDLIBRO INT,
    @CATEGORIAS_ID_LIST VARCHAR(MAX),
	@IMAGEN NVARCHAR(MAX) = NULL
AS
BEGIN
    BEGIN TRY
        BEGIN TRANSACTION; -- Inicia una transacción

        -- Tu código de actualización y manipulación de datos aquí
        UPDATE LIBRO
        SET 
            ISBN = CASE WHEN @ISBN IS NOT NULL THEN @ISBN ELSE ISBN END,
            NOMBRE = CASE WHEN @NOMBRE IS NOT NULL THEN @NOMBRE ELSE NOMBRE END,
            AUTOR = CASE WHEN @AUTOR IS NOT NULL THEN @AUTOR ELSE AUTOR END,
            TIPOLIBRO = CASE WHEN @TIPOLIBRO IS NOT NULL THEN @TIPOLIBRO ELSE TIPOLIBRO END,
            PRECIO = CASE WHEN @PRECIO IS NOT NULL THEN @PRECIO ELSE PRECIO END,
            STOCK = CASE WHEN @STOCK IS NOT NULL THEN (STOCK + @STOCK) ELSE STOCK END,
            ANIO = CASE WHEN @ANIO IS NOT NULL THEN @ANIO ELSE ANIO END,
            EDITORIAL = CASE WHEN @EDITORIAL IS NOT NULL THEN @EDITORIAL ELSE EDITORIAL END,
            ID_ADMINISTRADOR = CASE WHEN @ID_ADMINISTRADOR IS NOT NULL THEN @ID_ADMINISTRADOR ELSE ID_ADMINISTRADOR END,
            DESCRIPCION = CASE WHEN @DESCRIPCION IS NOT NULL THEN @DESCRIPCION ELSE DESCRIPCION END,
			IMAGEN = CASE WHEN @IMAGEN IS NOT NULL THEN @IMAGEN ELSE IMAGEN END
        WHERE ID = @IDLIBRO;

        DELETE FROM CATEGORIA_LIBRO WHERE ID_LIBRO = @IDLIBRO;

        IF @CATEGORIAS_ID_LIST IS NOT NULL
        BEGIN
            DECLARE @CATEGORIAIDLIST NVARCHAR(MAX) = @CATEGORIAS_ID_LIST;
            INSERT INTO CATEGORIA_LIBRO (ID_LIBRO, ID_CATEGORIA)
            SELECT @IDLIBRO, CAST(Value AS INT)
            FROM dbo.SplitString(@CategoriaIdList, ',');
        END

        -- Commit de la transacción si todo fue exitoso
        COMMIT;
    END TRY
    BEGIN CATCH
        -- Algo salió mal, realiza un rollback de la transacción
        ROLLBACK;

        -- Puedes manejar el error aquí, imprimir un mensaje, loguear, etc.
        PRINT 'Error en el procedimiento almacenado ACTUALIZARLIBRO: ' + ERROR_MESSAGE();
    END CATCH;
END;
GO
/****** Object:  StoredProcedure [dbo].[CREARADMIN]    Script Date: 30-11-2023 14:50:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[CREARADMIN]
@NOMBRE VARCHAR(100),
@CORREO VARCHAR(100),
@CONTRASEÑA NVARCHAR(100),
@SALT NVARCHAR(100)
AS 
BEGIN
INSERT INTO ADMINISTRADOR(NOMBRE,CORREO,CONTRASEÑA,SALT,ROL) VALUES (@NOMBRE,@CORREO,@CONTRASEÑA,@SALT,'ADMINISTRADOR')
END;
GO
/****** Object:  StoredProcedure [dbo].[CREARUSUARIO]    Script Date: 30-11-2023 14:50:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[CREARUSUARIO]
@NOMBRE varchar(200),
@CORREO varchar(200),
@CONTRASEÑA  nvarchar(200),
@TELEFONO int,
@SEXO INT,
@FECHANACIMIENTO DATE,
@COMUNA INT,
@DIRECCION VARCHAR (100),
@SALT NVARCHAR(200)
AS
BEGIN
INSERT INTO usuarios (nombre, correo,CONTRASEÑA,telefono,sexo,ROL,FECHANACIMIENTO,COMUNA,DIRECCION,SALT) VALUES (@NOMBRE, @CORREO, @CONTRASEÑA,@TELEFONO,@SEXO,'CORRIENTE',@FECHANACIMIENTO,@COMUNA,@DIRECCION,@SALT);
END
GO
/****** Object:  StoredProcedure [dbo].[DELETEUSUARIO]    Script Date: 30-11-2023 14:50:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DELETEUSUARIO]
@ID INT
AS 
BEGIN 
DELETE FROM usuarios WHERE id = @ID
END;
GO
/****** Object:  StoredProcedure [dbo].[DESPLEGARCOMUNAS]    Script Date: 30-11-2023 14:50:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*      
TABLA ROL: ID, NOMBRE-----> OK
TABLA TABLA COMUNA: ID, NOMBRE-------> OK
TABLA USUARIO: ID, NOMBRE, DIRECCION, CORREO, CONTRASEÑA, TELEFONO, ROL, SEXO, FECHA DE NACIMIENTO
TABLA CATEGORIA: ID, NOMRBE----->OK
TABLA EDITORIAL: ID, NOMBRE----->OK
TABLA LIBRO: ID, ISBN, NOMBRE, AUTOR, FOTO, TIPOLIBRO(DIGITAL O FISICO), PRECIO, STOCK, AÑO
TABLA CATEGORIA_LIBRO
TABLA EDITORIAL_LIBRO
TABLA FECHAALQUILER: ID, FECHA-------->OK
TABLA ALUILA: IDLIBRO,IDPERSONA,FECHAALQUILER,FECHAFIN, TOTAL, COMENTARIO
*/



CREATE PROCEDURE [dbo].[DESPLEGARCOMUNAS]
AS 
BEGIN
SELECT ID,NOMBRE FROM COMUNA; 
END
GO
/****** Object:  StoredProcedure [dbo].[DESPLEGARSEXO]    Script Date: 30-11-2023 14:50:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DESPLEGARSEXO]
AS
BEGIN
SELECT ID,Nombre from sexo;
END;
GO
/****** Object:  StoredProcedure [dbo].[GETID]    Script Date: 30-11-2023 14:50:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GETID]
@CORREO VARCHAR (200)
AS
BEGIN SELECT id FROM usuarios where correo = @CORREO
end;
GO
/****** Object:  StoredProcedure [dbo].[INICIOSESION]    Script Date: 30-11-2023 14:50:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[INICIOSESION]
@CORREO NVARCHAR(100)
AS
BEGIN

SET NOCOUNT ON;
DECLARE @ID INT,
            @CONTRASEÑA NVARCHAR(255),  
            @NOMBRE NVARCHAR(100);      

    SELECT @ID = id,
           @CONTRASEÑA = CONTRASEÑA,
           @NOMBRE = nombre
    FROM usuarios
    WHERE correo = @CORREO;

IF @ID IS NULL
BEGIN
SELECT @ID = ID,
           @CONTRASEÑA = CONTRASEÑA,
           @NOMBRE = nombre
    FROM ADMINISTRADOR
    WHERE CORREO = @CORREO;
END
SELECT
        @ID AS 'ID',
        @CONTRASEÑA AS 'CONTRASEÑA',
        @NOMBRE AS 'NOMBRE';
END;
GO
/****** Object:  StoredProcedure [dbo].[OBTENERCATEGORIAS]    Script Date: 30-11-2023 14:50:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[OBTENERCATEGORIAS]
AS
BEGIN
SELECT ID,NOMBRE FROM CATEGORIA ORDER BY NOMBRE
END;
GO
/****** Object:  StoredProcedure [dbo].[OBTENEREDITORIAL]    Script Date: 30-11-2023 14:50:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[OBTENEREDITORIAL]
AS
BEGIN
SELECT ID, NOMBRE FROM EDITORIAL
END;
GO
/****** Object:  StoredProcedure [dbo].[OBTENERLIBRO]    Script Date: 30-11-2023 14:50:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[OBTENERLIBRO]
@ID INT
AS
BEGIN
    SELECT DISTINCT 
        l.ID, 
        l.ISBN, 
        l.NOMBRE, 
        l.AUTOR,
        
        l.TIPOLIBRO,
        l.PRECIO,
        l.STOCK,
        l.ANIO,
        e.NOMBRE AS EDITORIALNOMBRE, 
        e.ID AS EDITORIALID,
        l.ID_ADMINISTRADOR,
        l.DESCRIPCION,l.IMAGEN,
        STUFF(
            (SELECT ', ' + c.NOMBRE
             FROM CATEGORIA_LIBRO cl
             INNER JOIN CATEGORIA c ON cl.ID_CATEGORIA = c.ID
             WHERE cl.ID_LIBRO = l.ID
             FOR XML PATH('')), 1, 2, '') AS CATEGORIANOMBRES,
        STUFF(
            (SELECT ', ' + TRY_CAST(c.ID AS varchar(10)) 
             FROM CATEGORIA_LIBRO cl
             INNER JOIN CATEGORIA c ON cl.ID_CATEGORIA = c.ID
             WHERE cl.ID_LIBRO = l.ID
             FOR XML PATH('')), 1, 2, '') AS CATEGORIAIDSTRING
    FROM LIBRO l 
    INNER JOIN EDITORIAL e ON l.EDITORIAL = e.ID
    WHERE
        (@ID IS NULL OR l.ID = @ID);
END;

GO
/****** Object:  StoredProcedure [dbo].[OBTENERROL]    Script Date: 30-11-2023 14:50:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[OBTENERROL]
@ID INT
AS
BEGIN
DECLARE @ROL VARCHAR(20);
SET NOCOUNT ON
SELECT @ROL = ROL FROM usuarios WHERE id = @ID
IF @ROL IS NOT NULL
BEGIN
SELECT 1 AS RESULTADO
END
IF @ROL IS NULL
BEGIN
SELECT @ROL = ROL FROM ADMINISTRADOR WHERE ID = @ID
BEGIN
SELECT 2 AS RESULTADO
END
END
END;

GO
/****** Object:  StoredProcedure [dbo].[OBTENERUSUARIOID]    Script Date: 30-11-2023 14:50:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[OBTENERUSUARIOID]
@ID INT
AS
BEGIN
SELECT nombre,correo,contraseña,telefono,DIRECCION,COMUNA from usuarios where id = @ID
END;

GO
/****** Object:  StoredProcedure [dbo].[OBTENERUSUARIOS]    Script Date: 30-11-2023 14:50:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[OBTENERUSUARIOS]
AS
BEGIN 
SELECT u.Id,u.nombre,u.correo,u.telefono,u.CONTRASEÑA ,u.DIRECCION ,c.NOMBRE AS comunanombre FROM usuarios u INNER JOIN COMUNA c on u.COMUNA = c.ID
END;
GO
/****** Object:  StoredProcedure [dbo].[REGISTRARLIBRO]    Script Date: 30-11-2023 14:50:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[REGISTRARLIBRO]

@ISBN VARCHAR(20),
@NOMBRE VARCHAR (200),
@AUTOR VARCHAR (100),
@TIPOLIBRO VARCHAR(30) ,
@PRECIO DECIMAL(10,2),
@STOCK INT, 
@ANIO INT,
@EDITORIAL INT,
@ID_ADMINISTRADOR INT,
@DESCRIPCION VARCHAR(300),
@IDLIBRO  INT OUTPUT,
@CATEGORIAS_ID_LIST VARCHAR(MAX),
@IMAGEN NVARCHAR(MAX)
AS 
BEGIN
DECLARE @NUEVO_IDLIBRO INT;
DECLARE @CATEGORIA_ID INT;
INSERT INTO LIBRO (ISBN,NOMBRE,AUTOR,TIPOLIBRO,PRECIO,STOCK,ANIO,EDITORIAL,ID_ADMINISTRADOR,DESCRIPCION,IMAGEN)
VALUES (@ISBN,@NOMBRE,@AUTOR,@TIPOLIBRO,@PRECIO,@STOCK,@ANIO,@EDITORIAL,@ID_ADMINISTRADOR,@DESCRIPCION,@IMAGEN)

SET @IDLIBRO = SCOPE_IDENTITY();

  INSERT INTO CATEGORIA_LIBRO (ID_LIBRO, ID_CATEGORIA)
    SELECT @IDLIBRO, TRY_CAST(value AS INT)
    FROM dbo.SplitString(@CATEGORIAS_ID_LIST, ',');

    DECLARE SplitStringCursor CURSOR FOR
        SELECT TRY_CAST(value AS INT) AS CATEGORIA_ID
        FROM dbo.SplitString(@CATEGORIAS_ID_LIST, ',');

    OPEN SplitStringCursor;
    FETCH NEXT FROM SplitStringCursor INTO @CATEGORIA_ID;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        -- Puedes agregar mensajes de depuración aquí si es necesario
        -- INSERT INTO CATEGORIA_LIBRO (ID_LIBRO, ID_CATEGORIA) VALUES (@IDLIBRO, @CATEGORIA_ID);

        FETCH NEXT FROM SplitStringCursor INTO @CATEGORIA_ID;
    END

    CLOSE SplitStringCursor;
    DEALLOCATE SplitStringCursor;


END;
GO
/****** Object:  StoredProcedure [dbo].[UPDATEUSUARIO]    Script Date: 30-11-2023 14:50:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UPDATEUSUARIO]
@ID int,
@NOMBRE VARCHAR(200) = NULL,
@CORREO VARCHAR(200) = NULL,

@TELEFONO INT = NULL,
@DIRECCION VARCHAR(200) = NULL,
@COMUNA INT = NULL

as
BEGIN
UPDATE usuarios
set nombre = CASE WHEN @NOMBRE IS NOT NULL THEN @NOMBRE ELSE nombre END,
correo =  CASE WHEN @CORREO IS NOT NULL THEN @CORREO ELSE correo END,  
telefono =  CASE WHEN @TELEFONO IS NOT NULL THEN @TELEFONO ELSE telefono END,
DIRECCION = CASE WHEN @DIRECCION IS NOT NULL THEN @DIRECCION ELSE DIRECCION END,
COMUNA = CASE WHEN @COMUNA IS NOT NULL THEN @COMUNA ELSE COMUNA END
WHERE id = @ID
END;
GO
USE [master]
GO
