
@{
    ViewBag.Title = "Libros";
}

<h2>Libros</h2>



@{
    if (Session["nombre"] != null)
    {
        var libros = ViewBag.Libros as List<arriendojuegos.Models.ListModelLibro.Libro>;

        foreach (var libro in libros)
        {
            <div class="product-item">
                <a style="text-decoration:none;" href="@Url.Action("Detalle", "Libro", new { Id = libro.Id })">
                    <img src="data:image/jpeg;base64,@Convert.ToBase64String(libro.Byteimagen)" alt="Producto 1">
                    <h3>@libro.Nombre</h3>
                    <p>@libro.Autor</p>
                    <p class="price">$@libro.Precio</p>
            </div>
        }
    }
    



}


