@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Agradecimiento por tu alquiler</title>
</head>
<body class="bg-light">

    <div class="container text-center mt-5">
        <div class="jumbotron">
            <h1 class="display-4">¡Gracias por tu Alquile!</h1>
            <p class="lead">Hemos recibido tu pedido y estamos procesándolo. Apreciamos tu confianza en nuestro servicios.</p>
            <hr class="my-4">
            <p>Recibirás una confirmación por correo electrónico la boleta con detalles de tu compra. Si tienes alguna pregunta, no dudes en contactarnos.</p>
            <a class="btn btn-danger btn-lg" href="@Url.Action("Index","Home")" role="button">Volver a la página principal</a>
        </div>

        <div>
            <img src="https://img.icons8.com/ios/452/ticket.png" alt="Icono de ticket" width="100">
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
   
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
